# SPDX-License-Identifier: MIT

name: Nightly Builds

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            oldfile: interactive.bin
            newfile: avnie-linux.bin
          - os: macos-latest
            oldfile: interactive.bin
            newfile: avnie-macos.bin
          - os: windows-latest
            oldfile: interactive.exe
            newfile: avnie-windows.exe
    defaults:
      run:
        shell: bash

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached venv
        id: cached-pip-wheels
        uses: actions/cache@v5
        with:
          path: ~/.cache
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: poetry install --sync --no-interaction --no-root

      - name: Build
        run: poetry run nuitka --clang --onefile --assume-yes-for-downloads avnie/interactive.py && mv ${{ matrix.oldfile }} ${{ matrix.newfile }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: avnie-${{ matrix.os }}
          path: ${{ matrix.newfile }}
          retention-days: 10
